<%- include("partials/header.ejs") %>
<section class="addbook">
  <h1 class="addbook__title"><%= book ? 'Edit Book' : 'Add a New Book' %></h1>
  <form class="addbook__form" action="<%= book ? `/editBook/${book.id}` : '/addbook' %>" method="POST">
    <div class="addbook__form-group">
      <label class="addbook__label" for="name">Book Title</label>
      <input
        class="addbook__input"
        type="text"
        id="name"
        name="name"
        value="<%= book ? book.title : '' %>"
        required
      />
    </div>
    <div class="addbook__form-group">
      <label class="addbook__label" for="author">Author</label>
      <input
        class="addbook__input"
        type="text"
        id="author"
        name="author"
        value="<%= book ? book.author : '' %>"
        required
      />
    </div>
    <div class="addbook__form-group">
      <label class="addbook__label" for="dateRead">Date Read</label>
      <input
        class="addbook__input"
        type="date"
        id="dateRead"
        name="dateRead"
        value="<%= book ? book.dateRead : '' %>"
        required
      />
    </div>
    <div class="addbook__form-group">
      <label class="addbook__label" for="recommendation">How strongly do you recommend it?</label>
      <select
        class="addbook__select"
        id="recommendation"
        name="recommendation"
        required
      >
        <% for (let i = 1; i <= 5; i++) { %>
          <option value="<%= i %>" <%= book && book.rating == i ? 'selected' : '' %>>
            <%= i %> - <%= ['Not recommended', 'It was okay', 'Good', 'Very good', 'Highly recommended'][i-1] %>
          </option>
        <% } %>
      </select>
    </div>
    <div class="addbook__form-group">
      <label class="addbook__label" for="isbn">ISBN</label>
      <input
        class="addbook__input"
        type="text"
        id="isbn"
        name="isbn"
        value="<%= book ? book.isbn : '' %>"
      />
    </div>
    <div class="addbook__form-group">
      <label class="addbook__label" for="summary">Book Review</label>
      <textarea
        class="addbook__textarea"
        id="summary"
        name="summary"
        rows="4"
        required
      ><%= book ? book.review : '' %></textarea>
    </div>
    <div class="addbook__form-group">
      <label class="addbook__label" for="amazonLink">Amazon Link</label>
      <input
        class="addbook__input"
        type="url"
        id="amazonLink"
        name="amazonLink"
        value="<%= book ? book.amazon_link : '' %>"
      />
    </div>
    <button type="submit" class="addbook__submit"><%= book ? 'Update Book' : 'Add Book' %></button>
  </form>
</section>
<%- include("partials/footer.ejs") %>
