<%- include("partials/header.ejs") %>
<img
  class="book__book-cover"
  src="https://covers.openlibrary.org/b/isbn/0806541229-L.jpg"
  alt="You Can Negotiate Anything book cover"
/>

<h2 class="book__book-title"><%= book.title %> - by <%= book.author %>></h2>

<p class="book__meta-info">ISBN: <%= book.isbn %></p>
<p class="book__meta-info">Date read: <%= book.date_read %></p>
<p class="book__meta-info">How strongly I recommend it: <%= book.rating %></p>

<p class="book__overview">
  Go to the
  <a href="<%= book.amazon_link %>" class="book__links">Amazon page</a> for
  details and reviews.
</p>

<p class="book__overview"><%= book.review %></p>
<section class="notes">
  <div class="notes__heading">
    <h2 class="notes__title">My Notes</h2>
  </div>
  <ul class="notes__list">
    <% notes.forEach((note) =>{ %>
    <li class="notes__list-item">
      <p class="notes__note"><%= note.note %></p>
      <form class="notes__edit-form" style="display: none">
        <textarea class="notes__edit-textarea"></textarea>
        <button
          type="button"
          class="notes__edit-btn"
          data-note-id="<%= note.id %>"
        >
          Edit
        </button>
        <button
          type="button"
          class="notes__delete-btn"
          data-note-id="<%= note.id %>"
        >
          Delete
        </button>
      </form>
    </li>
    <% }); %>
  </ul>
  <div class="notes__form-container">
    <form class="notes__form" action="/bookview" method="POST">
      <div class="notes__form-group">
        <label class="notes__form-label" for="summary">New Note</label>
        <textarea
          class="notes__form-textarea"
          id="summary"
          name="summary"
          rows="4"
          required
        ></textarea>
      </div>

      <button type="submit" class="notes__form-bttn">Add Note</button>
    </form>
  </div>
</section>
<%- include("partials/footer.ejs") %>
