<%- include("partials/header.ejs") %> <% if (book.img) { %>
<img src="<%= book.img %>" alt="book cover" class="book__book-cover" />
<% } else {%>
<img
  src="../public/images/bookCoverUnknown.png"
  alt="book cover"
  class="book__book-cover"
/>
<% } %>

<h2 class="book__book-title"><%= book.title %> - by <%= book.author %></h2>

<p class="book__meta-info">ISBN: <%= book.isbn %></p>
<p class="book__meta-info">
  Date read: <%= new Date(book.date_read).toLocaleDateString('en-US', { weekday:
  'short', year: 'numeric', month: 'short', day: '2-digit' }).replace(/,/g,
  '').replace(/(\d+)$/, ',$1') %>
</p>
<p class="book__meta-info">How strongly I recommend it: <%= book.rating %></p>

<p class="book__overview">
  Go to the
  <a href="<%= book.amazon_link %>" class="book__links" target="_blank"
    >Amazon page</a
  >
  for details and reviews.
</p>

<p class="book__overview"><%= book.review %></p>
<div class="book__bttns">
  <form action="/editBook/<%= book.id %>" method="GET" class="book__edit-form">
    <button type="submit" class="book__edit-bttn">Edit</button>
  </form>
  <form
    action="/deleteBook/<%= book.id %>"
    method="POST"
    class="book__delete-form"
  >
    <button type="submit" class="book__delete-bttn">Delete</button>
  </form>
</div>
<section class="notes" id="notes">
  <div class="notes__heading">
    <h2 class="notes__title">My Notes</h2>
  </div>
  <ul class="notes__list">
    <% notes.forEach((note) =>{ %>
    <li class="notes__list-item">
      <p class="notes__note"><%= note.note %></p>
      <form class="notes__edit-form" style="display: none">
        <textarea class="notes__edit-textarea" name="newNote"></textarea>
        <button
          type="button"
          class="notes__edit-btn"
          data-note-id="<%= note.id %>"
        >
          Edit
        </button>
        <button
          type="button"
          class="notes__delete-btn"
          data-note-id="<%= note.id %>"
        >
          Delete
        </button>
      </form>
    </li>
    <% }); %>
  </ul>
  <div class="notes__form-container">
    <form class="notes__form" action="/newNote" method="POST">
      <div class="notes__form-group">
        <label class="notes__form-label" for="summary">New Note</label>
        <textarea
          class="notes__form-textarea"
          id="summary"
          name="note"
          rows="4"
          required
        ></textarea>
        <input type="hidden" name="bookId" value="<%= book.id %>" />
      </div>

      <button type="submit" class="notes__form-bttn">Add Note</button>
    </form>
  </div>
</section>
<%- include("partials/footer.ejs") %>
