<%- include("partials/header.ejs") %>
<hr class="divisor" />
<section class="allbooks" id="allbooks">
  <a href="/addbook" class="allbooks__add-bttn">Add Book</a>
  <!-- For loop -->
  <% books.forEach((book) => {%>
  <div class="book">
    <img
      src="../public/images/bookTemplate.png"
      alt="You Can Negotiate Anything book cover"
      class="book__book-cover"
    />

    <h1 class="book__book-title">
      <a href="/bookview/<%= book.id %>" class="book__book-link">
        <%= book.title %> - by <%= book.author %>
      </a>
    </h1>
    <p class="book__meta-info">
      Date read: <%= new Date(book.date_read).toLocaleDateString('en-US', {
      weekday: 'short', year: 'numeric', month: 'short', day: '2-digit'
      }).replace(/,/g, '').replace(/(\d+)$/, ',$1') %>. How strongly I recommend
      it: <%= book.rating %>/5
    </p>
    <p class="book__overview"><%= book.review %></p>
    <p class="book__links">
      <a href="/bookview/<%= book.id %>" class="book__book-link">Add notes</a>
      about this book or go to the
      <a href="<%= book.amazon_link %>" class="book__book-link">Amazon page</a>
      for details and reviews.
    </p>
  </div>
  <% }); %>
</section>
<%- include("partials/footer.ejs") %>
